Densidad Poblacion por Estado en 2018

In [1]:
import pandas as pd
import os

# Directorio actual
current_dir = os.getcwd()

url_densidad_poblacion = os.path.join(current_dir, '../../data/raw/extractions/Densidad poblacion_y _Crecimiento_poblacional.xlsx')

# Abrir
df = pd.read_excel(url_densidad_poblacion, engine='openpyxl')

# Mostrar las primeras filas
print(df.head())

  table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)  \
0  Table 1. Annual Estimates of the Resident Popu...
1                                    Geographic Area
2                                                NaN
3                                      United States
4                                          Northeast

            Unnamed: 1      Unnamed: 2                          Unnamed: 3  \
0                  NaN             NaN                                 NaN
1  2010-04-01 00:00:00             NaN  Population Estimate (as of July 1)
2               Census  Estimates Base                                2010
3            308745538       308758105                           309321666
4             55317240        55318443                            55380134

    Unnamed: 4   Unnamed: 5   Unnamed: 6   Unnamed: 7   Unnamed: 8  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2       2011.0       2012.0       2013.0       2014.0       2015.0
3  311556874.0  313830990.0  315993715.0  318301008.0  320635163.0
4   55604223.0   55775216.0   55901806.0   56006011.0   56034684.0

    Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2       2016.0       2017.0       2018.0       2019.0
3  322941311.0  324985539.0  326687501.0  328239523.0
4   56042330.0   56059240.0   56046620.0   55982803.0

In [2]:
print(df.columns.tolist)

<bound method IndexOpsMixin.tolist of Index(['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')>

In [7]:
# Seleccionar columnas de estados y población 2018 (ajusta los nombres según tu archivo)
columnas_deseadas = ['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)', 'Unnamed: 11']  # Ejemplo: 'State' para estados y '2018' para datos de ese año
df_filtrado = df[columnas_deseadas]

# Eliminar filas que no son estados
df_filtrado = df_filtrado[~df_filtrado['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)'].str.contains('United States|Puerto Rico', na=False)]
df_final = df_filtrado.iloc[8:].reset_index(drop=True)

# Cambiar nombres de columnas
df_densidad_poblacion = df_final.rename(columns={
    'table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)': 'State',     
    'Unnamed: 11': 'Population_2018' 
})



## Guardar en CSV
# Path
df_densidad_poblacion_path = os.path.join(current_dir, '../../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(df_densidad_poblacion_path, exist_ok=True)
# Archivo CSV
df_densidad_poblacion_data = os.path.join(df_densidad_poblacion_path, "population_density.csv")
# Guardar dataframe en CSV
df_densidad_poblacion.to_csv(df_densidad_poblacion_data, index=False)

# Mostrar resultado
df_densidad_poblacion.head()

          State  Population_2018
0      .Arizona        7158024.0
1     .Arkansas        3009733.0
2   .California       39461588.0
3     .Colorado        5691287.0
4  .Connecticut        3571520.0

Ingresos personales

In [ ]:

url_personal_income = os.path.join(current_dir, '../../data/raw/extractions/Ingresos personales.xlsx')


df = pd.read_excel(url_personal_income, engine='openpyxl')

# Mostrar las primeras filas
print(df.head())

  CAINC1 County and MSA personal income summary: personal income, population, per capita personal income  \
0             Personal income (Thousands of dollars)
1                        Bureau of Economic Analysis
2                                             County
3                                                NaN
4                                            GeoFips

  Unnamed: 1 Unnamed: 2
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4    GeoName       2018

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
print(df.columns.tolist)

<bound method IndexOpsMixin.tolist of Index(['CAINC1 County and MSA personal income summary: personal income, population, per capita personal income',
       'Unnamed: 1', 'Unnamed: 2'],
      dtype='object')>

In [12]:
# Seleccionar columnas de estados e ingresos personales
columnas_deseadas = ['Unnamed: 1', 'Unnamed: 2']  
df_filtrado = df[columnas_deseadas]

# Cambiar nombres de columnas
df_renombrado = df_filtrado.rename(columns={
    'Unnamed: 1': 'Estado',     
    'Unnamed: 2': 'Ingresos_personales_2018' 
})
df_sin_terminar = df_renombrado.iloc[5:].reset_index(drop=True)
df_ingresos = df_sin_terminar.iloc[:-18] 


## Guardar en CSV
# Path
df_ingresos_path = os.path.join(current_dir, '../../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(df_ingresos_path, exist_ok=True)
# Archivo CSV
df_ingresos_data = os.path.join(df_ingresos_path, "personal_income.csv")
# Guardar dataframe en CSV
df_ingresos.to_csv(df_ingresos_data, index=False)

# Mostrar resultado
df_ingresos

              Estado Ingresos_personales_2018
0        Autauga, AL                  2371211
1        Baldwin, AL                 10139295
2        Barbour, AL                   842907
3           Bibb, AL                   672223
4         Blount, AL                  2072951
...              ...                      ...
3135  Sweetwater, WY                  2342826
3136       Teton, WY                  4966434
3137       Uinta, WY                   812614
3138    Washakie, WY                   371514
3139      Weston, WY                   310231

[3140 rows x 2 columns]

Tasa de crecimiento de poblacion

In [13]:
url_population_growth = os.path.join(current_dir, '../../data/raw/extractions/Densidad poblacion_y _Crecimiento_poblacional.xlsx')

df = pd.read_excel(url_population_growth, engine='openpyxl'  )

# Mostrar las primeras filas
print(df.head())

  table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)  \
0  Table 1. Annual Estimates of the Resident Popu...
1                                    Geographic Area
2                                                NaN
3                                      United States
4                                          Northeast

            Unnamed: 1      Unnamed: 2                          Unnamed: 3  \
0                  NaN             NaN                                 NaN
1  2010-04-01 00:00:00             NaN  Population Estimate (as of July 1)
2               Census  Estimates Base                                2010
3            308745538       308758105                           309321666
4             55317240        55318443                            55380134

    Unnamed: 4   Unnamed: 5   Unnamed: 6   Unnamed: 7   Unnamed: 8  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2       2011.0       2012.0       2013.0       2014.0       2015.0
3  311556874.0  313830990.0  315993715.0  318301008.0  320635163.0
4   55604223.0   55775216.0   55901806.0   56006011.0   56034684.0

    Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2       2016.0       2017.0       2018.0       2019.0
3  322941311.0  324985539.0  326687501.0  328239523.0
4   56042330.0   56059240.0   56046620.0   55982803.0

In [14]:
# Seleccionar columnas de estados y población 2018 (ajusta los nombres según tu archivo)
columnas_deseadas = ['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)', 'Unnamed: 10', 'Unnamed: 11']  # Ejemplo: 'State' para estados y '2018' para datos de ese año
df_filtrado = df[columnas_deseadas]

# Eliminar filas que no son estados
df_filtrado = df_filtrado[~df_filtrado['table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)'].str.contains('United States|Puerto Rico', na=False)]
df_final = df_filtrado.iloc[8:].reset_index(drop=True)

# Cambiar nombres de columnas
df_crecimiento = df_final.rename(columns={
    'table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts)': 'Estado',     
    'Unnamed: 10': 'Poblacion_2017', 
    'Unnamed: 11': 'Poblacion_2018'
    
})
# Calcular porcentaje de crecimiento
df_crecimiento['Crecimiento (%)'] = ((df_crecimiento['Poblacion_2018'] - df_crecimiento['Poblacion_2017']) / df_crecimiento['Poblacion_2017'] * 100).round(2)


## Guardar en CSV
# Path
df_crecimiento_path = os.path.join(current_dir, '../../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(df_crecimiento_path, exist_ok=True)
# Archivo CSV
df_crecimiento_data = os.path.join(df_crecimiento_path, "population_growth.csv")
# Guardar dataframe en CSV
df_crecimiento.to_csv(df_crecimiento_data, index=False)

# Mostrar top 5
df_crecimiento.head()

         Estado  Poblacion_2017  Poblacion_2018  Crecimiento (%)
0      .Arizona       7044008.0       7158024.0             1.62
1     .Arkansas       3001345.0       3009733.0             0.28
2   .California      39358497.0      39461588.0             0.26
3     .Colorado       5611885.0       5691287.0             1.41
4  .Connecticut       3573297.0       3571520.0            -0.05