In [33]:
import pandas as pd
import os

# Current dir
current_dir = os.getcwd()

In [ ]:
url_nivel_estudios = os.path.join(current_dir, '../../data/raw/extractions/studies-Data.csv')

nivel_estudios = pd.read_csv(url_nivel_estudios)

#Queremos que el encabezado sea la fila 0

# Usar la fila 0 como nombres de columnas
nivel_estudios.columns = nivel_estudios.iloc[0]  # Establece los valores de la fila 0 como encabezados

# Eliminar la fila 0 del DataFrame
nivel_estudios = nivel_estudios.drop(0).reset_index(drop=True)

nivel_estudios = nivel_estudios.drop(columns = ["Geography"])

nivel_estudios = nivel_estudios.dropna(axis=1, how='all')

def clean_column_name(col):
    # Convertir a string por si acaso
    col = str(col)
    # Eliminar espacios iniciales y finales
    col = col.strip()
    # Eliminar comillas iniciales y finales
    col = col.strip("'")
    # Eliminar prefijos como 'Estimate!!Total!!' o 'Estimate!!'
    col = col.replace('Estimate!!Total!!', '').replace('Estimate!!', '')
    # Eliminar texto redundante como 'Population 18 to 24 years' o 'Population 25 years and over'
    col = col.replace('Population 18 to 24 years!!', '').replace('Population 25 years and over!!', '')
    # Reemplazar espacios por guiones bajos y eliminar caracteres especiales
    col = col.replace(' ', '_').replace('!!', '_').replace('__', '_')
    # Convertir a minúsculas para consistencia (opcional)
    col = col.lower()
    # Eliminar guiones bajos al inicio o final
    col = col.strip('_')
    return col

nivel_estudios.columns = [clean_column_name(col) for col in nivel_estudios.columns]

nivel_estudios

,geographic_area_name,population_18_to_24_years,margin_of_error_total_moe_population_18_to_24_years,less_than_high_school_graduate,margin_of_error_total_moe_less_than_high_school_graduate,high_school_graduate_(includes_equivalency),margin_of_error_total_moe_high_school_graduate_(includes_equivalency),some_college_or_associate's_degree,margin_of_error_total_moe_some_college_or_associate's_degree,bachelor's_degree_or_higher,...,percent_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,margin_of_error_percent_moe_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,male_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,margin_of_error_male_moe_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,percent_male_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,margin_of_error_percent_male_moe_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,female_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,margin_of_error_female_moe_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,percent_female_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree,margin_of_error_percent_female_moe_median_earnings_in_the_past_12_months_(in_2018_inflation-adjusted_dollars)_population_25_years_and_over_with_earnings_graduate_or_professional_degree
0,Alabama,461302,5123,61166,4682,161286,6878,202178,7159,36672,...,(X),(X),84519,4717,(X),(X),52156,862,(X),(X)
1,Alaska,68625,1567,7863,1163,31355,2266,25547,2119,3860,...,(X),(X),91671,7326,(X),(X),66414,6106,(X),(X)
2,Arizona,689343,2696,105767,6947,230722,9270,293894,8717,58960,...,(X),(X),81550,2443,(X),(X),55622,1366,(X),(X)
3,Arkansas,287926,5112,34446,3393,107370,5271,123854,5525,22256,...,(X),(X),80255,7508,(X),(X),53029,2340,(X),(X)
4,California,3755863,5354,390520,10014,1146258,16371,1786551,17790,432534,...,(X),(X),104035,2781,(X),(X),76281,725,(X),(X)
5,Colorado,528539,4011,67044,4189,170032,6614,215687,7717,75776,...,(X),(X),85602,2987,(X),(X),56506,1286,(X),(X)
6,Connecticut,344203,2246,34216,3407,101840,4651,152349,5791,55798,...,(X),(X),102012,2677,(X),(X),71133,1360,(X),(X)
7,Delaware,84321,991,11122,1785,29330,2853,36416,3003,7453,...,(X),(X),90061,7277,(X),(X),63545,3843,(X),(X)
8,District of Columbia,75065,585,6161,1334,23886,2639,26618,3305,18400,...,(X),(X),114377,6745,(X),(X),90096,4467,(X),(X)
9,Florida,1769325,8687,268866,10849,569001,13166,762798,13786,168660,...,(X),(X),78851,2739,(X),(X),52140,485,(X),(X)
10,Georgia,1038010,8194,159213,6763,338114,10208,435966,11543,104717,...,(X),(X),86461,2265,(X),(X),59203,2270,(X),(X)
11,Hawaii,121647,1654,10207,1640,46510,3267,54314,3316,10616,...,(X),(X),84133,6648,(X),(X),60262,2423,(X),(X)
12,Idaho,165091,2910,25257,2842,59498,3420,68606,3691,11730,...,(X),(X),77470,6327,(X),(X),51527,1574,(X),(X)
13,Illinois,1178902,5135,136767,5885,355452,10332,511942,10506,174741,...,(X),(X),95265,2380,(X),(X),64137,1365,(X),(X)
14,Indiana,656928,4331,101702,5667,212740,7680,274898,7250,67588,...,(X),(X),76013,2626,(X),(X),55069,2024,(X),(X)
15,Iowa,317964,3066,35433,2933,87669,5783,155638,6382,39224,...,(X),(X),78500,4483,(X),(X),61221,1121,(X),(X)
16,Kansas,294933,3578,31457,2685,88959,4767,141742,4994,32775,...,(X),(X),77273,3084,(X),(X),52291,1231,(X),(X)
17,Kentucky,421207,4500,49982,3852,158614,6619,175234,6003,37377,...,(X),(X),67529,4086,(X),(X),52320,962,(X),(X)
18,Louisiana,436660,5904,72976,5503,154813,5919,176575,7243,32296,...,(X),(X),75237,4902,(X),(X),51066,829,(X),(X)
19,Maine,106470,1499,11124,1755,37966,3021,45031,3381,12349,...,(X),(X),66514,6635,(X),(X),55061,3396,(X),(X)
20,Maryland,537024,3391,57249,4261,167870,5712,234344,6892,77561,...,(X),(X),102083,905,(X),(X),74180,2135,(X),(X)
21,Massachusetts,702295,2717,74308,4310,190116,7358,306185,8067,131686,...,(X),(X),101067,629,(X),(X),70561,820,(X),(X)
22,Michigan,961804,4139,119326,4875,299460,7071,435811,8904,107207,...,(X),(X),90097,2461,(X),(X),60108,1320,(X),(X)
23,Minnesota,499903,3237,60703,3665,142615,5417,225699,5550,70886,...,(X),(X),85371,2162,(X),(X),65586,1417,(X),(X)
24,Mississippi,303525,6397,43283,4839,87244,5018,152271,7936,20727,...,(X),(X),70227,4369,(X),(X),50125,2066,(X),(X)
25,Missouri,565939,5032,70184,4697,177159,6510,258949,7935,59647,...,(X),(X),79974,4383,(X),(X),52216,1184,(X),(X)
26,Montana,96579,1989,12953,1808,32317,2596,40433,2730,10876,...,(X),(X),67457,7099,(X),(X),50977,2195,(X),(X)
27,Nebraska,187942,2211,20380,2266,56356,3736,86365,3412,24841,...,(X),(X),75434,2938,(X),(X),57714,1817,(X),(X)
28,Nevada,248598,1949,38971,3489,102820,4713,92905,3978,13902,...,(X),(X),76739,5988,(X),(X),61442,1928,(X),(X)
29,New Hampshire,127582,1322,11694,1924,44629,2850,53217,2993,18042,...,(X),(X),91763,6413,(X),(X),62784,2389,(X),(X)
30,New Jersey,768272,2719,81481,5217,220196,7339,329304,8206,137291,...,(X),(X),109510,4499,(X),(X),73106,1911,(X),(X)
31,New Mexico,198710,3574,35131,3827,62919,4463,88342,4598,12318,...,(X),(X),79290,5500,(X),(X),54761,1310,(X),(X)
32,New York,1805181,4444,198475,7204,490266,10593,811447,13377,304993,...,(X),(X),92345,1317,(X),(X),70156,787,(X),(X)
33,North Carolina,984618,8049,125413,7525,310896,11012,437468,8734,110841,...,(X),(X),85824,2810,(X),(X),52460,1097,(X),(X)
34,North Dakota,84584,2495,5476,1190,23147,2230,47660,3349,8301,...,(X),(X),74010,8419,(X),(X),60681,3143,(X),(X)
35,Ohio,1071971,4922,138294,5703,370760,8583,446572,8916,116345,...,(X),(X),81020,795,(X),(X),61048,464,(X),(X)
36,Oklahoma,379146,4158,60112,3314,131449,5405,159987,5390,27598,...,(X),(X),75076,3972,(X),(X),49853,1183,(X),(X)
37,Oregon,365745,3600,48987,4353,116892,5167,162533,6202,37333,...,(X),(X),83465,4877,(X),(X),60376,1000,(X),(X)
38,Pennsylvania,1164816,4289,138423,5553,413608,9151,458536,9046,154249,...,(X),(X),86241,1291,(X),(X),61803,687,(X),(X)
39,Rhode Island,112712,1577,9765,1829,36940,3607,49464,3940,16543,...,(X),(X),81707,6807,(X),(X),67410,5384,(X),(X)
40,South Carolina,487363,5904,64872,5117,162488,8323,217001,7666,43002,...,(X),(X),75665,2710,(X),(X),51082,815,(X),(X)
41,South Dakota,84922,2530,12103,1748,25306,2402,38299,2772,9214,...,(X),(X),70213,7262,(X),(X),51458,2557,(X),(X)
42,Tennessee,619812,4808,76729,4951,215102,7691,264531,8552,63450,...,(X),(X),77950,4604,(X),(X),53251,1948,(X),(X)
43,Texas,2825264,10473,407231,12692,967913,20701,1193882,19492,256238,...,(X),(X),89921,2941,(X),(X),60570,409,(X),(X)
44,Utah,357372,2712,40749,3581,110825,5025,180457,4923,25341,...,(X),(X),90701,3318,(X),(X),53893,2862,(X),(X)
45,Vermont,64948,1252,4987,1349,22568,2226,28631,2172,8762,...,(X),(X),68226,5089,(X),(X),56970,2903,(X),(X)
46,Virginia,826038,6862,85714,6321,265174,8238,363726,8536,111424,...,(X),(X),103905,3155,(X),(X),66151,1115,(X),(X)
47,Washington,658589,4965,86292,4924,206783,7571,288532,8416,76982,...,(X),(X),101005,949,(X),(X),65937,1217,(X),(X)
48,West Virginia,161826,2831,21099,2801,60694,3519,65502,3665,14531,...,(X),(X),65233,7716,(X),(X),50701,2218,(X),(X)
49,Wisconsin,549441,3720,59092,3220,172028,6053,250259,6692,68062,...,(X),(X),77685,3166,(X),(X),59019,2040,(X),(X)
50,Wyoming,51505,2083,8383,1729,18836,2195,20331,2099,3955,...,(X),(X),69990,9131,(X),(X),51701,2385,(X),(X)
51,Puerto Rico,313113,2377,28022,2624,84923,5293,169807,6455,30361,...,(X),(X),40068,4761,(X),(X),30446,1583,(X),(X)

In [35]:
## Guardar en CSV
# Path
nivel_estudios_path = os.path.join(current_dir, '../../data/raw/macrodata')

# Crear un directorio si no existe
os.makedirs(nivel_estudios_path, exist_ok=True)  # Cambié 'nivel_estudios' por 'nivel_estudios_path'

# Archivo CSV
nivel_estudios_file = os.path.join(nivel_estudios_path, "nivel_estudios_por_estados.csv")

# Guardar dataframe en CSV
nivel_estudios.to_csv(nivel_estudios_file, index=False)